<main role="main">
  <div class="jumbotron">
    <div class="container">
      <app-actor-listado
        (actorSeleccionado)="cargarActor($event)"
      ></app-actor-listado>
    </div>
  </div>
  <div
    class="container"
    *ngIf="actor && peliculasActorSeleccionado.length != 0"
  >
    <div class="row mb-4 justify-content-center">
      <div class="card-header">
        <h3>Actor seleccionado: {{ actor.nombre }} {{ actor.apellido }}</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <div class="card">
          <div class="card-header">
            <h5 class="m-0">Peliculas</h5>
          </div>
          <div class="card-body">
            <app-pelicula-listado
              [peliculas]="this.peliculasActorSeleccionado"
            ></app-pelicula-listado>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="card">
          <div class="card-header">
            <h5 class="m-0">Pais</h5>
          </div>
          <div class="card-body">
            <app-detalle-pais [detallePais]="this.actor.pais"></app-detalle-pais>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="card">
          <div class="card-header">
            <h5 class="m-0">Actor</h5>
          </div>
          <div class="card-body">
            <app-detalle-actor [detalleActor]="this.actor"></app-detalle-actor>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div
    class="container text-center"
    *ngIf="actor && peliculasActorSeleccionado.length == 0"
  >
    <h2>El actor seleccionado no tiene peliculas registradas</h2>
    <hr />
  </div>
  <div class="container text-center" *ngIf="!actor">
    <h2>Seleccione un actor del listado</h2>
    <hr />
  </div>
</main>

<footer class="container">
  <p>© Simulacro Primer Parcial</p>
</footer>
